<form action="/wikis/<%= wiki.id %>/collaborators/<%= collaborator.id %>/remove" method="post">
    <%= `${collaborator.User.name} --- ${collaborator.User.email}` %> 
    <button type="submit" class="badge badge-pill badge-danger">Remove</button>
</form>