<!-- For listing all wikis and sending to a new wiki page -->
<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>        
    </head>
    <body> 
        <% include ../static/partials/navbar.ejs %>  
        
        
        
        <div class="container">
            <% include ../static/partials/messages.ejs %>
            <h2>Choose a wiki to explore</h2>

            <div>
                <% if(wikis) { %> 
                    <ul>
                        <% wikis.forEach((wiki) => { %>
                            <li><a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a></li>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
            
            <div>
                <h2>Or create your own wiki...</h2>
                <a href="/wikis/new" class="btn btn-dark"><span>Create Wiki</span></a>
            </div>
            

        </div> 
        
        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>