<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>

        <% include ./partials/messages.ejs %>

        <main class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="">Wiki World</h1>
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="">Social, Markdown Wikis</h3>
                </div>
            </div>
            <div class="row"></div>
            
            <div class="section-container row">
                <div class="col-md-6">
                    <div class="inner bg-dark">
                        <h1>Explore</h1>
                        <a href="/wikis" class="btn btn-light">Wikis</a>
                        <p>Feel free to look around the existing wikis we already have on our site before signing up!</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inner bg-dark">
                        <h1>Contribute</h1>
                        <a href="/users/sign_up" class="btn btn-light">Sign Up</a>
                        <p>Add your knowledge to an existing wiki or start your own public wiki for others to contribute to.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p>
                    
                </p>    
            </div>
        </main>
        
        <% include ./partials/baseScripts.ejs %>
        
 </body>
</html>